[submodule "Bee/vendor/spdlog"]
	path = Bee/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bee/vendor/GLFW"]
	path = Bee/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Bee/vendor/imgui"]
	path = Bee/vendor/imgui
	url = https://github.com/TheCherno/imgui
